.main{
    padding: 60px 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main picture{
    display: inline-block;

    position: relative;
}

.main picture img:first-of-type{
    max-width: 400px;
}

.main picture img:not(:first-of-type){
    max-width: 50px;
    max-height: 70px;

    position: absolute;
    top: 78px;
    right: 26px;
}

/* valores por calc para seguir o padrão trazido pela cabeça */

.main picture img:nth-of-type(3){
    top: calc(78px + 48px);
    right: calc(26px + 23px);
}

.main picture img:nth-of-type(4){
    top: calc(78px + 112px);
    right: calc(26px - 9px);
}

.main picture img:nth-of-type(5){
    top: calc(78px + 112px);
    right: calc(26px + 22px);
}

.main picture img:nth-of-type(6){
    top: calc(78px + 64px);
    right: calc(26px - 10px);
}

.main picture img:nth-of-type(7){
    top: calc(78px + 64px);
    right: calc(26px + 24px);
}

.main__init-game,
.main__game,
.main__option-game div,
.main__word{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    max-width: 500px;
    margin: 0 auto;
}

.main__word p{
    display: inline-block;
}

.main__init-game,
.main__option-game{
    display: none;
}

.main__option-game p{
    margin: 1.125rem 0 0 0;
}

.activeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-word div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    white-space: nowrap;
}

@media (min-width: 480px){

    .container-word div{
        gap: 1.5rem;
    }
}

@media (min-width: 768px){

}

@media (min-width: 1024px){

}