@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'header.css';
@import 'main.css';

:root{
    --fontPrincipal: 'Inter', sans-serif;
    --fontMonospace: 'Roboto Mono', monospace;

    --grey1: #F5F7FA;
    --grey2: #E6EAF0;
    --grey3: #CED3D9;
    --grey4: #C0C5CB;
    --grey5: #B2B8BF;
    --grey6: #989EA6;
    --grey7: #7E838C;
    --grey8: #626872;
    --grey9: #474D59;
    --grey10: #363B47;
    --grey11: #242833;
    --grey12: #1a1d27;
    --grey13: #0B0C12;

    --blue1: #0E2467;
    --blue2: #A1B7FB;
    --green1: #035835;
    --green2: #B9FDE1;
    --green3: #229E6B;
    --red-titleNotification: #E44057;
    --green-titleNotification: #b0f5d8;

    --shadow: rgba(0, 0, 0, 0.1);
    --background-notification: rgba(0, 0, 0, 0.95);
}

body.dark{
    --grey1: #0B0C12;
    --grey2: #161922;
    --grey9: #7E838C;
    --grey11: #B2B8BF;
    --grey12: #CED3D9;

    --blue1: #8aa2e7;
    --blue2: #0E2467;
    --green1: #B9FDE1;
    --green2: #035835;

    --shadow: rgba(255, 255, 255, 0.1);
}

@keyframes visibilySection{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
        display: flex;
    }
}

@keyframes removeSection{
    0%{
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 0;
        transform: translateX(-50px);
        display: none;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body{
    font-family: var(--fontPrincipal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;

    background-color: var(--grey1);
}

a{
    display: block;
}

label, input{
    width: 100%;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.width-limit{
    max-width: 1050px;
    margin: 0 auto;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.125rem;

    color: var(--grey12);
}

.sub-title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;

    color: var(--grey11);
}

.sub-title b{
    font-weight: 600;
}

.text{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;

    color: var(--grey9);
}

.links{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2rem;

    padding: 5px;
    color: var(--grey9);
}

.button{
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.625rem;

    padding: 15px 30px;

    border-radius: 5px;
    background-color: var(--blue1);
    color: var(--blue2);

    cursor: pointer;
    box-sizing: 0 1px 2px var(--shadow);
    transition: all 0.15s ease-in-out;
}

.button:hover,
.buttons-letters:hover{
    opacity: 0.95;
}

.inputs{
    width: 100%;
    height: 40px;
    margin: 0.875rem 0 0.5rem 0;
    padding: 10px;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    border-radius: 5px;
    background-color: var(--grey1);
    color: var(--grey11);
    border: 2px solid var(--grey9);
}

.inputs:focus{
    outline: none;
    border: 2px solid var(--grey12);
}

.letter{
    display: inline-block;

    font-size: 2rem;
    font-family: var(--fontMonospace);
    font-weight: 500;
    line-height: 2.5rem;

    border-bottom: 4px solid var(--grey12);
    color: transparent;
    
    user-select: none;
    pointer-events: none;
}

.buttons-letters{
    font-family: var(--fontMonospace);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.2rem;

    padding: 1rem;

    border-radius: 5px;
    background-color: var(--blue1);
    color: var(--blue2);
}

/* classes com javascript */

.buttons-letters.incorrect{
    background-color: var(--grey12);
    color: var(--grey1);
}

.buttons-letters.correct{
    background-color: var(--green1);
    color: var(--green2);
}

.letter.correctLetter{
    color: var(--grey11);
}

@media (min-width: 480px){

    .letter{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .buttons-letters{
        font-size: 2rem;
        line-height: 2.5rem;

        border-radius: 5px;
    }
}

@media (min-width: 768px){

    .title{
        font-size: 3rem;
        line-height: 3.75rem;
    }

    .sub-title{
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    .button{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .letter{
        font-size: 4rem;
        line-height: 5.2rem;
    }
}